---
layout: home
background: '/img/bg-index2.jpg'
---
<!-- Home Post List -->
{% for post in paginator.posts %}
<article class="post-preview">
    <!--            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">-->
    <div class="post-container">
        <div class="post-img-container">
            <img class="post-img" src={{post.cover}}>
        </div>
        <div class="post-text">
            <div class="post-text-header">
                <div style="width: 71%">
                    <p style="font-size: 24px;font-weight: 600;">
                        {{ post.title }}
                    </p>
                </div>
                <p class="post-meta">
                    {{ post.date | date: '%B %d, %Y' }}
                </p>
            </div>
            {% if post.excerpt %}
            <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            {% endif %}
            <a class="post-link"
               href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                详情
            </a>
        </div>
    </div>
</article>

<hr>

{% endfor %}

<!-- Pager -->
<!--        <div class="clearfix">-->
<!--          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>-->
<!--        </div>-->
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
