---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h3>浙江工业大学网络空间安全研究院<br/><br/>无人系统组</h3>
<!--            {% if site.description %}-->
<!--              <span class="subheading">{{ site.description }}</span>-->
<!--            {% endif %}-->
            <svg class="iconfont" aria-hidden="true">
              <use xlink:href="#icon-github"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <h3 class="title">小组成员</h3>
    <div class="row">
      {% for member in site.members %}
      <div class="member">
        <img class="memberPhoto" src={{member.photo}} alt="照片找不到了"/>
        <p>{{member.name}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr/>
  <div class="container">
    <h3 style="margin-bottom: 40px;text-align: center;">研究成果</h3>
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <!-- {% for post in site.posts limit : 10 %} -->
        {% for post in site.posts limit : 10 %}
          <article class="post-preview">
<!--            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">-->
            <div class="post-container">
              <div class="post-img-container">
                <img class="post-img" src={{post.cover}}>
              </div>
              <div class="post-text">
                <div class="post-text-header">
                  <div style="width: 71%">
                    <p style="font-size: 24px;font-weight: 600;">
                      {{ post.title }}
                    </p>
                  </div>
                  <p class="post-meta">
                    {{ post.date | date: '%B %d, %Y' }}
                  </p>
                </div>
                {% if post.excerpt %}
                  <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                {% endif %}
                <a class="post-link"
                   href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  详情
                </a>
              </div>
            </div>
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
